body{
   margin: 0;
   padding: 0; 
}

header{
    padding: 60px 0;
}
.container{
width: 90%;
margin: 0 auto;
overflow: hidden;

}

.logo{
width: 13%;
float: left;
margin-top: 10px;

}
.logo img{
    width: 100%;
}
.menu{
    width: 65%;
    float: right;
  
   
}
.menu ul{
    /*overflow: hidden;*/
    float: right;
}
.menu ul li{
    list-style: none;
    float: left;
}
.menu ul li a{
    font-size: 16px;
    font-weight: 400;
    color: grey;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 0 50px;
}
.menu ul li:last-child a {
    padding-right: 0;
}

.menu ul li a :hover{}
.coverPhoto{
margin-top: 70px;
}
.coverPhoto img{
    width: 100%;
}
.gateway{
margin-top: 100px;
}
.gateway h4{
    color: #c7c1b6;
}
.gateway h2{
    margin-top: 37px;
    margin-bottom: 37px;
    text-align: justify;
    color: #626262;
    font-size: 30pt;

}
.gateway p{
margin-bottom: 50px;

}
